mat-toolbar {
    background: #004a9f;
    color: white;
}

mat-sidenav {
    background: #002b5c;
    color: white;
    padding: 16px 10px;
    text-align: center;
}

.menu-button {
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.link-icon {
    margin-left: auto;
    font-size: 16px;
    color: #007BFF;
    display: none;
}

.menu-button:hover .link-icon {
    display: inline;
}

.menu-button:hover {
    color: #002b5c;
    background-color: white;
}

.centrar{
    text-align: center; /* Centrar horizontalmente */
    display: flex; /* Utilizamos flexbox para centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente con flexbox */
    width: 100%; /* Ancho completo */
}